<h2>Events <%=@user.username%> is attending:</h2>
<br>


<%@user.events_attending.each do |item| %>

<%event = @event.find_by(item.event_id)%>

<a href="/events/<%=event.id%>"><%=event.name%> Type: <%=event.category%> Creator: <%=event.user.username%> Time:<%=event.schedule%> </a>
<br/>
<%end%>


