<h2>Events <%=@user.username%> is going to:</h2>
<br>

<%@user.events_attending.each do |event| %>


<a href="/events/<%=event.id%>">Event: <%=event.name%> Time:<%=event.schedule%> Creator: <%=event.user.username%></a>
<br/>
<%end%>