<h2>Events <%=@user.username%> hosts</h2>
<br/>
<%@user.events.each do |event| %>
<a href="/events/<%=event.id%>">Event: <%=event.name%> Time: <%=event.schedule%> Creator: <%=event.user.username%></a>
<br/>
<%end%>