<%if logged_in?%>
  <%if current_user == @user%>
    <h2>Your Info</h2>
    <b>First Name:</b>
    <br><br/><%=@user.first_name%>
    <br><br/><b>Last Name:</b>
    <br><br/><%=@user.last_name%>
    <br><br/><b>About <%=@user.username%>: </b>
    <br><br/><%=@user.about_me%>
    <br><br/><b>Username:</b>
    <br><br/><%=@user.username%>
    <br><br/><b>Email:</b>
    <br><br/> <%=@user.email%>
    <br><br/><a href= '/users/<%=@user.slug%>/edit/password_verification'>Update/Delete Account</a> <a href= '/users/<%=@user.slug%>/update_password'>Change Password</a> </a><a href= '/users/<%=@user.slug%>/events_hosted'>My Hosted Events</a
    <br/>
    <br>
  <%else%>
   <h2><%=@user.username%></h2>
   <b>First Name:</b>
   <br><br/><%=@user.first_name%>
   <br><br/><b>Last Name:</b>
   <br><br/><%=@user.last_name%>
   <br><br/><b>About <%=@user.username%>: </b>
   <br><br/><%=@user.about_me%>
   <br><br/>
   <form action ="/users/<%=@user.slug%>/events_hosted">
     <input type="submit" value= "<%=@user.username%>'s Events">
   </form>
    <br>
    <br>
  <%end%>
<%end%>
    