<%if logged_in?%>
  <%if current_user == @user%>
    <h2>Your Info</h2>
    <br/><label>First Name:</label>
    <br/><%=@user.first_name%>
    <br/><label>Last Name:</label>
    <br/><%=@user.last_name%>
    <br/><label>About <%=@user.username%>: </label>
    <br/><%=@user.about_me%>
    <br/><label>Username:</label>
    <br/><%=@user.username%>
    <br/><label>Email:</label>
    <br/> <%=@user.email%>
    <br/><a href= '/users/<%=@user.slug%>/edit/password_verification'>Update</a> <a href= '/users/<%=@user.slug%>/events_hosted'>My Hosted Events</a>
  <%else%>
    <br/><h2><%=@user.username%></h2>
    <br/><label>First Name:</label>
    <br/><%=@user.first_name%>
    <br/><label>Last Name:</label>
    <br/><%=@user.last_name%>
    <br/><label>About <%=@user.username%>: </label>
    <br/><%=@user.about_me%>
    <br/><a href= '/users/<%=@user.slug%>/events_hosted'><%=@user.username%>'s Events</a>  