
<%puts "event_index accessed"%>
<h2>Welcome, <%=@current_user.first_name%></h2>

<h3>Events Trending</h3>
<%@events.each do |event|%>
  <a href='events/<%=event.id%>'> <%=event.event_name%> <%=event.schedule%> created by:<%=event.user.username%></a>
  <br/>
<%end%>
  