
<%puts "event_index accessed"%>
<h2>Welcome, <%=@current_user.first_name%></h2>

<h3>Events Trending</h3>
<%@events.each do |event|%>
  <a href='events/<%=event.id%>'> <%=event.name%> Type <%=event.category%>  Creator: <%=event.user.username%> Time: <%=event.schedule%></a>
  <br/><br/>
<%end%>
  