<h2><%=@event.event_name%></h2> <i><small>Updated At: <%=@event.updated_at%></small></i>
<br/>
<i><small>Created At:
<%=@event.created_at%></small></i>
<br/>
<br/>

<b>Event Type:</b>
<br/>
"<%=@event.event_type%>"
<br/>
<b>Description:</b>
<br/>
'<%=@event.description%>'
<br/>
<b>Event Time:</b>
<br/>
'<%=@event.schedule%>'
<br/>


<% if @event.users.include?(current_user)%>
  <b>You are attending this event.</b>
    <!--<form action ='/events/<%=@event.id%>' method="post">-->
  
    <!--<input type="submit" name="not_going" value="Not Going">-->
    <!--</form>-->
<%else%>
  <b>Would you like to attend this event?</b>
  <!--<form action ='/events/<%=@event.id%>' method="post">-->
      
  <!--<input type="submit" name="going" value="Yes">-->
  <!--</form>-->
<%end%>

