<h2><%=@event.event_name%></h2> <i><small>Updated At: <%=@event.updated_at%></small></i>
<br/>
<i><small>Created At:
<%=@event.created_at%></small></i>
<br/>
<br/>

<b>Event Type:</b>
<br/>
"<%=@event.event_type%>"
<br/>
<b>Description:</b>
<br/>
'<%=@event.description%>'
<br/>
<b>Event Time:</b>
<br/>
'<%=@event.schedule%>'
<br/>


<% if @event.users.include?(current_user)%>
  <b>You are attending this event.</b>
  <form action ='/events/<%=@event.id%>/attending' method="post">
    <!--<input type ="hidden" name="not_going" value="Do you want to leave this event?">-->
    <input id="hidden" type= "hidden" name="_method" value="delete">
    <input type="submit" name="submit" value="Leave Event">
  </form>
<%else%>
  <b>You are not attending this event.</b>
  <form action ='/events/<%=@event.id%>/attending' method="post">
    <input type="hidden" name="going" value ="Would you like to attend this event?">
    <input type="submit" name="submit" value="Attend Event">
  </form>
<%end%>

